.container {
  max-width: 1280px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(63, 64, 131, .95);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: rgb(250,250,250);
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: rgb(255,255,255);
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: -5rem;
  -moz-box-shadow:    inset  0  10px 10px -10px black, 
                      inset  0 -10px 10px -10px black;
  -webkit-box-shadow: inset  0  10px 10px -10px black, 
                      inset  0 -10px 10px -10px black;
  box-shadow:         inset  0  10px 100px -100px black, 
                      inset  0 -600px 5000px -350px rgba(0, 0, 0, .5);
}

.carousel-overlay {
  margin-bottom: -5rem;
  box-shadow: inset  0 -6000px 0px 0px rgba(0, 0, 0, .75);
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 38rem;
}

.carousel-logo {
  height: 22rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

.banner-stay {
    z-index:-3000;
    position: fixed;
    width: auto*2;
    max-width: none;
    height: 100%;   
  }

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 990px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 8px;
    line-height: 1.4;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 1.4;
  }

  .carousel-caption h3 {
    font-size: 14px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .banner-stay {
    z-index:-3000;
    position: fixed;
    width: auto*2;
    max-width: none;
    height: 100%;   
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .banner-stay {
    z-index:-3000;
    position: fixed;
    width: auto*2;
    max-width: none;
    height: 60%;   
  }
}

.img-fit {
    object-fit: cover;
    object-position: bottom;
    }

.fix-gap {
  margin-bottom: -5rem;
}

.wrapper {
  border-radius: 5px;
  padding: 10px;
  inline-size: 800px;
  overflow-wrap: break-word;
}

.container-imbox-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-img-left {
  max-width: 100%;
  max-height:100%;
  float: left;
}

.container-text-left {
  padding-left: 20px;
  float: left;
}

.container-imbox-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.container-img-right {
  max-width: 100%;
  max-height:100%;
  float: right;
}

.container-text-right {
  padding-right: 20px;
  float: right;
}